body,
input,
button {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-weight: 700;
}

button {
    border: solid;
    border-width: 1px;
    border-radius: 0.5em;
    background-color: black;
    color: white;

    padding: 0.5em;
}
button:active {
    color: black;
    background-color: white;
}

button:disabled {
    background-color: grey;
    color: white;
}

input:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    input {
        background-color: black;
        color: white;
    }

    body {
        --icon-stroke: white;
    }
    button {
        color: black;
        background-color: white;
    }
    button:active {
        background-color: black;
        color: white;
    }
    button:disabled {
        color: black;
    }
}

/* input {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: transparent;
    font-size: inherit; */

/* Fade only on the right */
/* -webkit-mask-image: linear-gradient(to right, black 0%, black 90%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-composite: destination-in;
    mask-composite: destination-in;
    mask-image: linear-gradient(to right, black 0%, black 90%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
} */
